@import "gaia";

:root {
  /* solarized-dark */
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

h1[title] {
  font-size: 2em;
  margin: 5em auto 5em;
  border: 0;
}

h2[title] {
  font-size: 1em;
  margin: 3em auto 2em;
  border: 0;
}

section::after,
footer {
  color: var(--base1);
  background-color: var(--base02);
  height: 50px;
  margin-bottom: 0px;
  font-size: 75%;
  padding: 0px 20px 0px 20px;
}

section {
  background-color: var(--base03);
  color: var(--base1);
  font-size: 1.5em;
}

h1 {
  color: var(--blue)
}

h2 {
  color: var(--cyan)
}

a {
  color: var(--magenta);
  font-family: "Hackgen35 Console NF";
}

/* only inline code-block  */
code:not([class]) {
  color: var(--yellow);
}


pre,
code {
  background-color: var(--base02);
  color: var(--base1);
}

code[data-name] {
  position: relative;
  margin-top: 44px;
  padding-top: 4px;
}

code[data-name]::before {
  position: absolute;
  top: -44px;
  left: 0;
  padding: .25em .75em;
  /* border-top-left-radius: 8px; */
  border-bottom-right-radius: 8px;
  content: attr(data-name);
  font-size: .75em;
  background: var(--base03);
}

.hljs-string {
  color: var(--green);
}

.hljs-built_in {
  color: var(--orange)
}

.hljs-keyword {
  color: var(--cyan)
}

.hljs-meta {
  color: var(--red)
}

.hljs-variable {
  color: var(--yellow)
}

/* for line number in code block --> */
/* ref: https://github.com/orgs/marp-team/discussions/164 */
pre ol {
  all: unset;
  display: grid;
  grid-template-columns: auto 1fr;
  counter-reset: line-number 0;
}

pre ol li {
  display: contents;
}

pre ol li span[data-marp-line-number]::before {
  display: block;
  content: counter(line-number) ": ";
  counter-increment: line-number;
  text-align: right;
}

/* <-- for line number in code block */

mark {
  color: inherit;
  background-color: inherit;
}

mark[attention] {
  color: var(--orange);
}

mark[info] {
  color: var(--cyan);
}

p[text-large] {
  font-size: 2em;
  margin: 1em auto 1em;
}
