<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pglombardo.pytools</string>
	<key>connections</key>
	<dict>
		<key>0E62B481-A997-4FA1-9F4D-BF6AC8A687CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E87B3E14-138E-461C-A2D9-6F3FF40CEC16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>361481FE-FC75-45E8-A797-B5EF403852D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0849C53-5B31-4462-B5C2-612E89F33360</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F45CDFE-E39B-405C-B66F-3801DABA1291</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABE897DF-5488-421B-95A2-950881E163FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50B3398C-4797-4A54-905D-F6648530709C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E6071B-B5D5-456E-9B8A-95AF6BC82BBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5295E474-CE56-4D57-BBAE-703335F1ED97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86E9CDB6-F35F-43E8-84F5-68EA86CF4ADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C93F425-A106-41F3-8565-182C0BCDD709</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7D19DBA-EB0E-4358-A9CE-2E61E2524689</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8392EEC7-369B-455C-B0CB-D126399BD4F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7DAC01A-9F66-42C5-BE7D-6DB7D1899466</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D3A9401-F051-4443-A6FE-D1622FF7934E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87BEE3A4-26EA-4273-B4DF-E228110C281B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A167567D-F6D8-4D9F-82BD-591AAF269A12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B433B1D-973E-44D3-94B8-7FA5A2E3C499</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A441E620-BADB-4A70-ABCE-F95266E7321E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B637D5D-4FDF-4261-8823-4EAAA2CB78FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B985C847-7934-469D-AF0F-7360DCCCB9F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E1CE9DD-2389-4447-B770-0D9D787615B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF79960A-DAB8-4B8F-846E-629DE6EE8468</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70CC6EC8-55D5-4FED-AB58-796D24DACA59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Peter Giacomo Lombardo</string>
	<key>description</key>
	<string>Quick access to Online Python Resources</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Python Online Resources</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pyanaconda</string>
				<key>subtext</key>
				<string>Search the documentation @ docs.anaconda.com</string>
				<key>text</key>
				<string>Search Anaconda Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>361481FE-FC75-45E8-A797-B5EF403852D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pypi.org/project/{query}/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pypi</string>
				<key>subtext</key>
				<string>Lookup a package on PyPi</string>
				<key>text</key>
				<string>PyPi Package Page</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.anaconda.com/search/?q=packages{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F0849C53-5B31-4462-B5C2-612E89F33360</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pypi.org/search/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>70CC6EC8-55D5-4FED-AB58-796D24DACA59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pydjango</string>
				<key>subtext</key>
				<string>Search the Django docs at docs.djangoproject.com</string>
				<key>text</key>
				<string>Search Django Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0E62B481-A997-4FA1-9F4D-BF6AC8A687CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.djangoproject.com/search/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E87B3E14-138E-461C-A2D9-6F3FF40CEC16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>spypi</string>
				<key>subtext</key>
				<string>Search for a package on PyPi</string>
				<key>text</key>
				<string>Search PyPi</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF79960A-DAB8-4B8F-846E-629DE6EE8468</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pyflask</string>
				<key>subtext</key>
				<string>Search the Flask docs at flask.palletsprojects.com</string>
				<key>text</key>
				<string>Search Flask Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>50B3398C-4797-4A54-905D-F6648530709C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pydoc</string>
				<key>subtext</key>
				<string>Query on docs.python.org</string>
				<key>text</key>
				<string>Search Python Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8392EEC7-369B-455C-B0CB-D126399BD4F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.python.org/3.7/search.html?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F7DAC01A-9F66-42C5-BE7D-6DB7D1899466</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://flask.palletsprojects.com/search/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>06E6071B-B5D5-456E-9B8A-95AF6BC82BBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://requests.readthedocs.io/en/latest/search/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8E1CE9DD-2389-4447-B770-0D9D787615B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/r/learnpython/search?q={query}&amp;restrict_sr=on</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ABE897DF-5488-421B-95A2-950881E163FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pyreddit</string>
				<key>subtext</key>
				<string>Search the r/learnpython subreddit on Reddit</string>
				<key>text</key>
				<string>Search r/learnpython</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F45CDFE-E39B-405C-B66F-3801DABA1291</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pyrequests</string>
				<key>subtext</key>
				<string>Search the Requests docs at requests.readthedocs.io</string>
				<key>text</key>
				<string>Search Requests Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B985C847-7934-469D-AF0F-7360DCCCB9F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://boto3.amazonaws.com/v1/documentation/api/latest/search.html?q={query}&amp;check_keywords=yes&amp;area=default</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>86E9CDB6-F35F-43E8-84F5-68EA86CF4ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://numpy.org/doc/stable/search.html?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5B433B1D-973E-44D3-94B8-7FA5A2E3C499</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pyboto3</string>
				<key>subtext</key>
				<string>Search the boto3 docs at boto3.amazonaws.com</string>
				<key>text</key>
				<string>Search boto3 Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5295E474-CE56-4D57-BBAE-703335F1ED97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pynumpy</string>
				<key>subtext</key>
				<string>Search the numpy docs at numpy.org</string>
				<key>text</key>
				<string>Search numpy Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A167567D-F6D8-4D9F-82BD-591AAF269A12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://urllib3.readthedocs.io/en/stable/search.html?q={query}&amp;check_keywords=yes&amp;area=default</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0B637D5D-4FDF-4261-8823-4EAAA2CB78FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pyurllib3</string>
				<key>subtext</key>
				<string>Search the urllib3 docs at urllib3.readthedocs.io</string>
				<key>text</key>
				<string>Search urllib3 Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A441E620-BADB-4A70-ABCE-F95266E7321E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pip.pypa.io/en/stable/search/?q={query}&amp;check_keywords=yes&amp;area=default</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7D19DBA-EB0E-4358-A9CE-2E61E2524689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pypip</string>
				<key>subtext</key>
				<string>Search the pip docs at pip.pypa.io</string>
				<key>text</key>
				<string>Search pip Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5C93F425-A106-41F3-8565-182C0BCDD709</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pypandas</string>
				<key>subtext</key>
				<string>Search the pandas docs at pandas.pydata.org</string>
				<key>text</key>
				<string>Search Pandas Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D3A9401-F051-4443-A6FE-D1622FF7934E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pandas.pydata.org/docs/search.html?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>87BEE3A4-26EA-4273-B4DF-E228110C281B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Python Online Resources Workflow

With this workflow you can:

* pydoc {query} - Search Python documentation at docs.python.org
* pypi {query} - Lookup a Python package at pypi.org
* spypi {query} - Search for packages at pypi.org
* pyanaconda {query} - Search Anaconda documentation at docs.anaconda.com
* pyreddit {query} - Search the /r/LearnPython subreddit on reddit.com
* pydjango {query} - Search Django documenation at docs.djangoproject.com
* pyflask {query} - Search Flask documentation at flask.palletsprojects.com
* pyrequests {query} - Search Requests documentation at requests.readthedocs.io
* pyboto3 {query} - Search boto3 documentation at boto3.amazonaws.com
* pyurllib3 {query} - Search Requests documentation at urllib3.readthedocs.io
* pypandas {query} - Search pandas documentation at pandas.pydata.org
* pypip {query} - Search the pip documentation at pip.pypa.io
* pynumpy {query} - Search the numpy documentation at numpy.org

Don't get interrupted and taken our of your (work) flow.  Immediately get the information you need.

No setup, login or configuration.

=============================================================================

The source for this workflow can be found at:
https://github.com/pglombardo/alfred-python-resources

=============================================================================

Author:

Peter Giacomo Lombardo
https://github.com/pglombardo
https://the0x00.dev
https://pwpush.com</string>
	<key>uidata</key>
	<dict>
		<key>06E6071B-B5D5-456E-9B8A-95AF6BC82BBE</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>0B637D5D-4FDF-4261-8823-4EAAA2CB78FE</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>0E62B481-A997-4FA1-9F4D-BF6AC8A687CA</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>361481FE-FC75-45E8-A797-B5EF403852D8</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4F45CDFE-E39B-405C-B66F-3801DABA1291</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>50B3398C-4797-4A54-905D-F6648530709C</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>5295E474-CE56-4D57-BBAE-703335F1ED97</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>5B433B1D-973E-44D3-94B8-7FA5A2E3C499</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>5C93F425-A106-41F3-8565-182C0BCDD709</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>70CC6EC8-55D5-4FED-AB58-796D24DACA59</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8392EEC7-369B-455C-B0CB-D126399BD4F8</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>86E9CDB6-F35F-43E8-84F5-68EA86CF4ADB</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>87BEE3A4-26EA-4273-B4DF-E228110C281B</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>8D3A9401-F051-4443-A6FE-D1622FF7934E</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>8E1CE9DD-2389-4447-B770-0D9D787615B6</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>A167567D-F6D8-4D9F-82BD-591AAF269A12</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>A441E620-BADB-4A70-ABCE-F95266E7321E</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>ABE897DF-5488-421B-95A2-950881E163FC</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>B985C847-7934-469D-AF0F-7360DCCCB9F1</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>C7D19DBA-EB0E-4358-A9CE-2E61E2524689</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>E87B3E14-138E-461C-A2D9-6F3FF40CEC16</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F0849C53-5B31-4462-B5C2-612E89F33360</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F7DAC01A-9F66-42C5-BE7D-6DB7D1899466</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>FF79960A-DAB8-4B8F-846E-629DE6EE8468</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/pglombardo/alfred-python-resources</string>
</dict>
</plist>
